section {
  background: var(--background)
}
.custom-background {
  background: var(--custom-background)
}
section,
.custom-background {
  inline-size: 100%;
  block-size: 300px;
  background-position: center;
  background-size: cover
}
