@layer astro-lqip {
  [data-astro-lqip] {
    --opacity: 1;
    --z-index: 0;

    display: inline-block;
    width: fit-content;
    height: fit-content;
    position: relative;
    isolation: isolate;
    overflow: clip;
    line-height: 0; /* remove extra space below the image */

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      pointer-events: none;
      transition: opacity 1s;
      opacity: var(--opacity);
      z-index: var(--z-index);
      background: var(--lqip-background);
      background-size: cover;
      background-position: center;
    }

    & img {
      z-index: 1;
      position: relative;
    }

    @media (scripting: none) {
      --opacity: 0;
      --z-index: 1;
    }
  }
}
