@layer astro-lqip {
  [data-astro-lqip] {
    --opacity: 1;
    --z-index: 0;

    position: relative;
    display: inline-block;
    inline-size: fit-content;
    block-size: fit-content;
    overflow: clip;
    line-height: 0;
    isolation: isolate; /* remove extra space below the image */

    &::after {
      position: absolute;
      inset: 0;
      z-index: var(--z-index);
      pointer-events: none;
      content: "";
      background: var(--lqip-background);
      background-position: center;
      background-size: cover;
      opacity: var(--opacity);
      transition: opacity 1s
    }

    & img {
      position: relative;
      z-index: 1
    }

    @media (scripting: none) {
      --opacity: 0;
      --z-index: 1
    }
  }
}
