---
import Layout from '@layouts/Layout.astro'

import Navbar from '@components/Navbar.astro'
import TipsCard from '@components/TipsCard.astro'
import Footer from '@components/Footer.astro'

import { getCollection } from 'astro:content'

const posts = (await getCollection('usageTips')).sort((a, b) => {
  return (a.data?.id ?? a.id) - (b.data?.id ?? b.id)
})
---

<Layout title="Usage Tips | Astro LQIP">
  <Navbar />
  <main class="container">
    <h1>Usage tips</h1>
    <p>Learn how to easily use images in your Astro projects with these tips.</p>
    <section>
      {
        posts.map(({ data, slug }) => {
          const { title } = data
          return (
            <TipsCard title={title} slug={slug} />
          )
        })
      }
    </section>
  </main>
  <Footer />
</Layout>

<style>
  @media (width >= 1200px) {
    main {
      width: 100%;
      height: 100%;
    }
  }

  section {
    display: grid;
    gap: 24px 32px;
    margin-block: 48px;
    width: 100%;
    max-width: 860px;
    margin-inline: auto;

    @media (width >= 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
