---
import Layout from '@layouts/Layout.astro'

import Header from '@sections/index/Header.astro'
import Features from '@sections/index/Features.astro'
import Usage from '@sections/index/Usage.astro'
import Props from '@sections/index/Props.astro'

import Navbar from '@components/Navbar.astro'
import NextButton from '@components/NextButton.astro'
import Footer from '@components/Footer.astro'
---

<Layout title="Astro LQIP">
  <Navbar />
  <main class="container">
    <Header />
    <Features />
    <Usage />
    <Props />
    <NextButton href="/demos" label="Demos" />
  </main>
  <Footer />
</Layout>

<style>
  main {
    max-width: 720px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-block: 80px 40px;

    @media (width >= 768px) {
      gap: 96px;
    }
  }
</style>
