---
import type { ImageTransform } from '../types'

import { useLqipBackground } from '../utils/useLqipBackground'

import '../styles/background.css'

type Props = ImageTransform

const props = Astro.props as Props
const isDevelopment = import.meta.env.MODE === 'development'

const { style: backgroundStyle } = await useLqipBackground({
  ...props,
  isDevelopment
})
---

<div data-astro-lqip-bg style={backgroundStyle}>
  <slot />
</div>
