---
import type { LocalImageProps, RemoteImageProps } from 'astro:assets'
import type { Props as LqipProps } from '../types'

import { resolveImageMetadata } from '../utils/resolveImageMetadata'
import { renderSVGNode } from '../utils/renderSVGNode'
import { getLqipStyle } from '../utils/getLqipStyle'
import { getLqip } from '../utils/getLqip'

import { Image as ImageComponent } from 'astro:assets'

type Props = (LocalImageProps | RemoteImageProps) & LqipProps

const { class: className, lqip = 'base64', lqipSize = 4, ...props } = Astro.props as Props

const isDevelopment = import.meta.env.MODE === 'development'

const imageMetadata = await resolveImageMetadata(props.src)
const lqipImage = await getLqip(imageMetadata, isDevelopment, lqip, lqipSize)

let svgHTML = ''

if (lqip === 'svg' && Array.isArray(lqipImage)) {
  svgHTML = renderSVGNode(lqipImage as [string, Record<string, any>, any[]])
}

const lqipStyle = getLqipStyle(lqip, lqipImage, svgHTML)
---

<style is:inline>
  div[data-astro-lqip] {
    --opacity: 1;
    --z-index: 0;

    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
  }

  div[data-astro-lqip]::after {
    content: "";
    inset: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    transition: opacity 1s;
    opacity: var(--opacity);
    z-index: var(--z-index);
    background: var(--lqip-background);
    background-size: cover;
    background-position: 50% 50%;
  }

  div[data-astro-lqip] img {
    z-index: 1;
    position: relative;
    overflow: hidden;
  }
</style>

<div class={className} style={lqipStyle} data-astro-lqip>
  <ImageComponent
    {...props}
    class={className}
    onload="parentElement.style.setProperty('--z-index', 1), parentElement.style.setProperty('--opacity', 0)"
  />
</div>
