<footer class="container">
  <p>
    Made with ❤️ by
    <a href="https://github.com/felixicaza" target="_blank" rel="noopener noreferrer">Felix Icaza</a>
  </p>
</footer>

<style>
  footer {
    text-align: center;
  }
</style>
