---
import ChevronLeft from '@icons/chevron-left.svg'
import Home from '@icons/home.svg'
import Deblur from '@icons/deblur.svg'
import Stars from '@icons/stars.svg'
import GitHub from '@icons/github.svg'

const isHomePage = Astro.url.pathname === '/'
const isDemoPage = Astro.url.pathname === '/demos'
const isNotDemoPage = Astro.url.pathname !== '/demos'
const isTipPage = Astro.url.pathname === '/usage-tips'
const isNotTipPageAndArticle = Astro.url.pathname !== '/usage-tips' && !Astro.url.pathname.includes('/how-to-')
const isTipsArticle = Astro.url.pathname.includes('/how-to-')
const isNotHomeAndTipsArticle = Astro.url.pathname !== '/' && !Astro.url.pathname.includes('/how-to-');
---

<nav class:list={['container', { 'is-home-page': isHomePage, 'is-demo-page': isDemoPage, 'is-tip-page': isTipPage, 'is-tips-article': isTipsArticle }]}>
  {
    isNotHomeAndTipsArticle && (
      <a href="/">
        <ChevronLeft width="24" />
        Home
      </a>
    )
  }
  {
    isTipsArticle && (
      <a href="/usage-tips">
        <ChevronLeft width="24" />
        Tips
      </a>
    )
  }
  <div class:list={['nav-content', { demos: isDemoPage }]}>
    <div class="links">
      {
        isTipsArticle && (
          <a href="/">
            <Home width="20" />
            Home
          </a>
        )
      }
      {
        isNotDemoPage && (
          <a href="/demos">
            <Deblur width="20" />
            Demos
          </a>
        )
      }
      {
        isNotTipPageAndArticle && (
          <a href="/usage-tips">
            <Stars width="20" />
            Tips
          </a>
        )
      }
    </div>
    <a href="https://github.com/felixicaza/astro-lqip" target="_blank" rel="noopener noreferrer">
      <GitHub width="20" />
      <span>Star on GitHub</span>
    </a>
  </div>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 12px;

    @media (width >= 768px) {
      justify-content: center;

      &.is-tip-page {
        width: 100%;
      }
    }

    &.is-home-page .nav-content {
      width: 100%;
    }

    &.is-demo-page {
      justify-content: space-between;

      & div {
        width: fit-content;
      }
    }

    @media (width <= 768px) {
      &.is-tips-article a span {
        display: none;
        content-visibility: hidden;
      }
    }

    & .nav-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;

      @media (width >= 768px) {
        width: 100%;
        gap: 32px;
      }

      &.is-demo-page {
        gap: 16px;
      }

      @media (width >= 768px) {
        width: initial;
        margin-left: auto;
      }
    }

    & .links {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    & a {
      width: fit-content;
      display: inline-flex;
      align-items: center;
      gap: 4px;
      transition: color 0.3s ease-in-out;

      @media (any-hover: hover) {
        &:hover {
          color: #bcb5f3;
        }
      }

      &:active {
        color: #bcb5f3;
      }

      & svg {
        translate: 0 -1px;
      }
    }
  }
</style>
