---
import ChevronLeft from '@icons/chevron-left.svg'
import Stars from '@icons/stars.svg'
import Deblur from '@icons/deblur.svg'
import GitHub from '@icons/github.svg'
---

<nav class:list={['container', { demos: Astro.url.pathname !== '/', 'is-tip-page': Astro.url.pathname.includes('/usage-tips') }]}>
  {
    Astro.url.pathname !== '/' && (
      <a href="/">
        <ChevronLeft width="24" height="24" />
        Home
      </a>
    )
  }
  <div class:list={['nav-content', { demos: Astro.url.pathname !== '/' }]}>
    <div class="links">
      {
        Astro.url.pathname !== '/demos' && (
          <a href="/demos">
            <Deblur width="20" />
            Demos
          </a>
        )
      }
      {
        Astro.url.pathname !== '/usage-tips' && (
          <a href="/usage-tips">
            <Stars width="20" />
            Tips
          </a>
        )
      }
    </div>
    <a href="https://github.com/felixicaza/astro-lqip" target="_blank" rel="noopener noreferrer">
      <GitHub width="20" />
      Star on GitHub
    </a>
  </div>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 12px;

    @media (width >= 768px) {
      &.is-tip-page {
        width: 100%;
      }
    }

    &.demos {
      justify-content: space-between;

      & div {
        width: fit-content;
      }
    }

    & .nav-content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 32px;

      &.demos {
        gap: 16px;
      }

      @media (width >= 768px) {
        width: initial;
        margin-left: auto;
      }
    }

    & .links {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    & a {
      width: fit-content;
      display: inline-flex;
      align-items: center;
      gap: 4px;
      transition: color 0.3s ease-in-out;

      @media (any-hover: hover) {
        &:hover {
          color: #bcb5f3;
        }
      }

      &:active {
        color: #bcb5f3;
      }

      & svg {
        translate: 0 -1px;
      }
    }
  }
</style>
