---
import { Code } from 'astro:components'

import AlertBlock from '@components/AlertBlock.astro'

const example = `---
import { Image, Picture } from 'astro-lqip/components';

import image from './path/to/image.png';
import otherImage from './path/to/other-image.png';
---

<Image src={image} alt="Cover Image" width={220} height={220} lqip="svg" lqipSize={10} />
<Picture src={otherImage} alt="Other cover Image" width={220} height={220} lqip="css" lqipSize={7} />
`
---

<article>
  <section>
    <h2>Props</h2>
    <p>
      Both
      <code>&lt;Image&gt;</code>
      and
      <code>&lt;Picture&gt;</code>
      components support all the props of the
      <a href="https://docs.astro.build/en/reference/modules/astro-assets/" target="_blank" rel="noopener noreferrer">
        native Astro components
      </a>
      but adds a couple of props for LQIP management:
    </p>
    <ul>
      <li>
        <code>lqip</code>
        : The LQIP type to use. It can be one of the following:
        <ul>
          <li>
            <code>base64</code>
            : Generates a Base64-encoded LQIP image. (default option)
          </li>
          <li>
            <code>color</code>
            : Generates a solid color placeholder. Not compatible with
            <code>lqipSize</code>
            .
          </li>
          <li>
            <code>css</code>
            : Generates a CSS-based LQIP image.
          </li>
          <li>
            <code>svg</code>
            : Generates an SVG-based LQIP image.
          </li>
        </ul>
      </li>
      <li>
        <code>lqipSize</code>
        : The size of the LQIP image, which can be any number from
        <code>4</code>
        to
        <code>64</code>
        . (default is 4)
      </li>
    </ul>
    <AlertBlock type="warning" label="Warning">
      <p>
        A high value for
        <code>lqipSize</code>
        can significantly increase the total size of your website.
      </p>
    </AlertBlock>
  </section>
  <section>
    <p>Example:</p>
    <Code code={example} lang="astro" />
  </section>
  <AlertBlock type="tip" label="Tip">
    <p>
      For the
      <code>&lt;Image&gt;</code>
      component, a
      <code>parentAttributes</code>
      prop similar to
      <code>pictureAttributes</code>
      has been added.
    </p>
  </AlertBlock>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & ul {
      display: flex;
      flex-direction: column;
      gap: 8px;

      & li ul {
        margin-top: 8px;
      }
    }
  }
</style>
