---
import { Code } from 'astro:components'

import Warning from '@icons/warning.svg'
import LightBulb from '@icons/lightbulb.svg'

const example = `---
import { Image, Picture } from 'astro-lqip/components';

import image from './path/to/image.png';
import otherImage from './path/to/other-image.png';
---

<Image src={image} alt="Cover Image" width={220} height={220} lqip="svg" lqipSize={10} />
<Picture src={otherImage} alt="Other cover Image" width={220} height={220} lqip="css" lqipSize={7} />
`
---

<article>
  <section>
    <h2>Props</h2>
    <p>
      Both
      <code>&lt;Image&gt;</code>
      and
      <code>&lt;Picture&gt;</code>
      components support all the props of the
      <a href="https://docs.astro.build/en/reference/modules/astro-assets/" target="_blank" rel="noopener noreferrer">
        native Astro components
      </a>
      but adds a couple of props for LQIP management:
    </p>
    <ul>
      <li>
        <code>lqip</code>
        : The LQIP type to use. It can be one of the following:
        <ul>
          <li>
            <code>base64</code>
            : Generates a Base64-encoded LQIP image. (default option)
          </li>
          <li>
            <code>color</code>
            : Generates a solid color placeholder. Not compatible with
            <code>lqipSize</code>
            .
          </li>
          <li>
            <code>css</code>
            : Generates a CSS-based LQIP image.
          </li>
          <li>
            <code>svg</code>
            : Generates an SVG-based LQIP image.
          </li>
        </ul>
      </li>
      <li>
        <code>lqipSize</code>
        : The size of the LQIP image, which can be any number from
        <code>4</code>
        to
        <code>64</code>
        . (default is 4)
      </li>
    </ul>
    <section class="warning">
      <strong>
        <Warning width={22} height={22} />
        Warning
      </strong>
      <p>
        A high value for
        <code>lqipSize</code>
        can significantly increase the total size of your website.
      </p>
    </section>
  </section>
  <section>
    <p>Example:</p>
    <Code code={example} lang="astro" />
  </section>
  <section class="tip">
    <strong>
      <LightBulb width={22} height={22} />
      Tip
    </strong>
    <p>
      For the
      <code>&lt;Image&gt;</code>
      component, a
      <code>parentAttributes</code>
      prop similar to
      <code>pictureAttributes</code>
      has been added.
    </p>
  </section>
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & ul {
      display: flex;
      flex-direction: column;
      gap: 8px;

      & li ul {
        margin-top: 8px;
      }
    }

    & .warning,
    & .tip {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 16px;
      border-radius: 4px;

      & strong {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 18px;

        & svg {
          translate: 0 -1px;
        }
      }

      & p {
        margin: 0;
      }
    }

    & .warning {
      background-color: #4e4022;
      color: #f9e8c3;
      border-left: 4px solid #eebd53;

      & p code {
        background: #41341a;
        border-color: #f3b939;
      }
    }

    & .tip {
      background-color: #123125;
      color: #c3f9d9;
      border-left: 4px solid #40d07c;

      & p code {
        background: #0c271c;
        border-color: #40d07c;
      }
    }
  }
</style>
