@layer posts, pages;

@layer posts {
  .is-full-height nav,
  .is-full-height article {
    inline-size: 100%
  }

  .is-full-height article {
    block-size: 100%
  }

  h2 {
    margin-block-start: 44px;
    font-size: 1.62rem;
    color: inherit;

    & code {
      padding: 3px 5px;
      font-size: 1.42rem;
      background: #262435;
      border-block-end: 1px solid #bcb5f3;
      border-radius: 2px
    }
  }

  h3 {
    margin-block: 36px 0px;
    font-size: 1.38rem;
    color: inherit
  }

  p {
    line-height: 1.55
  }
}
